<header>
    <img id="logo" src="/img/logo2.png" alt="Logo do Pokedex">
    <nav>
        <ul>
           <a href="/" ><li>Home</li></a>
           <a href="/cadastro"><li>Cadastro</li></a>
        </ul>
    </nav>
</header>